.category-type {
  font-size: 15px;
}

.products-container {
  background: #F3F4F6;
}

.product-card {
  max-width: 550px;
  background: white;
  margin: 30px auto;
  padding: 20px;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
