* {
  box-sizing: border-box;
}

.app {
  font-family: 'Montserrat',
  sans-serif;
  font-size: 20px;
  color: #222525;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

.page-container {
  min-height: calc(100VH - 40px);
  margin-top: 25px;
  background-color: white;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 24px;
}

h1, h2, h3 {
  color: #232323;
}

section {
  min-height: 200px;
  padding: 30px 15px;
}

section:nth-child(even) {
  background-color: rgb(208, 222, 228);
}

.section-title {
  padding-top: 30px;
}

.button, .button:focus, .button:visited {
  background-color: white;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px 10px;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}
