nav.nav {
  padding: 20px 24px;
  text-align: left;
  background-color: #F9FAFB;
  display: flex;
  justify-content: space-between;
}

.logo-icon svg {
  display: inline;
  color: #4338CA;
  height: 30px;
  width: auto;
}

.nav.nav-dark {
  background-color: #4338CA;
}

.nav.nav-dark .logo-icon svg {
  color: white;
}
